extends layout

block content
        title= title
        h1 #{title}
        br
        p Example creation usage:
        code  https://images-search.herokuapp.com/imageSearch/lolcats funny
        p Example creation output:
        code "url": "https://i.ytimg.com/vi/dWpGC6Fg0io/hqdefault.jpg",
        br
        code "snippet":"... LOLCats Funny Cats",
        br
        code "thumbnail":"https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRNMCLSl2dHm87xTU6uMFZD0Jym2E-4lAaSdJzfc_6OkeB_CdF1vjgZZsR2",
        br
        code "context": "https://www.youtube.com/watch?v=dWpGC6Fg0io"
        
        p Example finding latest search:
        code https://images-search.herokuapp.com/latest
        p Example output:
        code "term":"dogs",
        br       
        code "when":"2017-01-24T14:17:12.610Z"